* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

.navbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
}

h1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding: 15px;
  padding-top: 100px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.head-cont h1 {
  margin-left: 20px;
  width: 500px;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 20px 24px;
  background-color: white;
}

header .logo {
  text-decoration: none;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  margin-left: 5px;
  transform: rotate(45deg);
}

.body p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  position: static;
  width: 327px;
  left: 24px;
  top: 276px;
  font-style: normal;
  margin-left: 24px;
}

.body h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  margin-left: 24px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.body ul,
.icons {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 150px;
  margin-left: 24px;
}

.body {
  border-radius: 0 0 0 35px;
  background-image: url("images/Header-new.png");
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  padding-bottom: 100px;
  width: 100vw;
  height: 100%;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px;
  gap: 50px;

  /* margin-top: 100px; */
}

.project {
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  padding: 15px;
  border-radius: 24px;
  background-color: white;

  /* margin-bottom: 100px; */
}

.project h2 {
  position: static;
  width: 295px;
  left: 0;
  top: 0;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 15px;
  margin-bottom: 15px;
}

.project ol {
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: static;
  width: 250px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-bottom: 15px;
}

.project p {
  position: static;
  width: 295px;
  margin-bottom: 12px;
  left: 0;
  top: 92px;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tech-skills li {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 12px;
  list-style-type: none;
  background: #f7f7f9;
  margin-bottom: 10px;
  color: #253858;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  height: 40px;
  height: 66.72px;
  margin-right: 15px;
}

.project ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: max-content;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin-bottom: 15px;
  gap: 10px;
}

.languages li {
  color: black;
  padding: 12px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
}

.project ul li {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
}

button {
  border: none;
}

button:hover {
  background-color: #6070ff;
  color: #fff;
  transform: translate(10px, 10px);
}

.button {
  width: max-content;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 19.5px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: white;
  border: #396df2 1px solid;
  border-radius: 10px;
  padding: 9.2px;
}

.button:active {
  background: #2230d2;
  color: white;
}

.button:disabled {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}

.about-container {
  background-color: white;
  border-radius: 0 35px 0 0;
  padding: 24px;
}

.about h2 {
  position: static;
  width: 327px;
  height: 101px;
  left: 0;
  top: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-top: 100px;
  margin-bottom: 12px;
  margin-left: 10px;
}

.about p {
  position: static;
  left: 0;
  top: 113px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-left: 10px;
}

.about h3 {
  position: static;
  margin-top: 12px;
  margin-bottom: 12px;
  left: 0;
  top: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #7f8cff;
  margin-left: 10px;
}

.icons {
  margin-left: 10px;
  margin-bottom: 12px;
}

.last {
  background-color: white;
  padding: 24px;
  margin-bottom: 20px;
}

.last ul {
  list-style: none;
}

.last h2 {
  margin-bottom: 30px;
}

.last ul li {
  margin-bottom: 15px;
}

.ok {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

.fa-solid,
.fas {
  font-weight: 900;
  font-size: 20px;
  height: 20px;
  color: rgb(196, 165, 165);
}

.tech-skills-detail {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

nav img {
  position: absolute;
  float: right;
  right: 20px;
}

.tech-skills-detail img {
  margin-right: 20px;
}

.tech-skills-detail p {
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  background-color: #f7f7f9;
}

.contactform1 {
  background-color: #6070ff;
  background-image: url("images/contact-new.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  border: none;
  border-top-left-radius: 35px;
  padding: 30px;
  padding-top: 100px;
  color: #fff;
}

.contactform1 h2 {
  padding-top: 15px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
  text-transform: capitalize;
  text-align: center;
}

.contactform1 p {
  line-height: 28px;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 20px;
}

.contactform1 form {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  border-radius: 8px;
  margin-left: 10px;
}

.contactform1 form textarea {
  width: 99%;
  font-weight: 400px;
  font-size: 17px;
  line-height: 20px;
  border-radius: 8px;
  margin-top: 15px;
  padding-top: 25px;
  padding-left: 15px;
  border: none;
  margin-left: 0 5px;
}

.contactform1 input {
  padding-top: 15px;
  padding-left: 10px;
}

.show .ok {
  display: none;
}

.contactform1 form input {
  width: 100%;
  padding-bottom: 25px;
  font-weight: 400px;
  font-size: 17px;
  line-height: 20px;
  border-radius: 8px;
  margin-top: 15px;
  border: none;
}

@media screen and (min-width: 768px) {
  .nav .ham {
    display: none;
  }

  .nav .navbar {
    display: flex;
    gap: 20px;
  }

  .navlinks {
    text-decoration: none;
    text-transform: capitalize;
  }

  .body {
    background-image: url("images/Header-new.png");
    border-bottom-left-radius: 100px;
  }

  .body .desc {
    width: 60%;
  }

  .head-cont {
    margin-left: 40px;
  }

  h1 {
    padding-left: 60px;
  }

  .body h1 {
    margin-left: 20px;
  }

  .social {
    margin-left: 20px;
  }

  .mobile-image {
    height: auto;
    width: 100%;
  }

  .project {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    gap: 100px;
    margin: 50px;
  }

  .project:hover {
    cursor: pointer;
    border: 2px solid #a7aeff;
    box-shadow: 1px 10px 16px rgb(64, 83, 252, 0.24);
  }

  .my-img {
    width: 100%;
    border-radius: 8px;
  }

  .my-text {
    width: 100%;
    margin: 10px;
    margin-left: 25px;
  }

  .project:nth-child(even) {
    flex-direction: row-reverse;
    padding-left: -50px;
  }

  .my-img .project:nth-child(odd) {
    height: 50%;
  }

  .show .ok {
    display: flex;
  }

  .about-container {
    display: flex;
    flex-direction: row;
    border-top-right-radius: 100px;
  }

  .about {
    width: 50%;
    height: auto;
    margin-left: 30px;
  }

  .about h2 {
    margin-left: 80px;
  }

  .about p {
    margin-left: 80px;
  }

  .about h3 {
    margin-left: 80px;
  }

  .about .icons {
    margin-left: 80px;
  }

  form .button {
    margin: 20px 550px;
  }

  .about .button {
    margin-left: 80px;
  }

  .last {
    width: 50%;
    height: auto;
    margin-top: 4rem;
  }

  .lang {
    display: flex;
    flex-direction: row;
    padding-left: 1px;
    align-items: center;
  }

  .tech-skills-detail {
    display: flex;
    flex-direction: column;
    margin: 1px 8px;
    width: auto;
    height: auto;
  }

  h2 .contactform1 {
    text-align: center;
  }

  .flex-container .contactform1 {
    border-top-left-radius: 100px;
  }

  .contactform1 p {
    width: 480px;
    margin-left: 350px;
  }

  .contactform1 form input {
    width: 50%;
    padding-bottom: 25px;
    font-weight: 400px;
    font-size: 17px;
    line-height: 20px;
    border-radius: 0;
    margin-left: 300px;
    border: none;
  }

  .contactform1 form textarea {
    width: 50%;
    font-weight: 400px;
    font-size: 17px;
    line-height: 20px;
    border-radius: 0;
    margin-top: 15px;
    padding-top: 25px;
    padding-left: 15px;
    border: none;
    margin-left: 300px;
  }

  .fas {
    color: rgb(196, 165, 165);
  }
}
